<div class="flex-container-horizontal">
    <nav>
        <a routerLink="/register">Registrieren</a>
        <a *ngIf="!loggedIn" routerLink="/login">Einloggen</a>
        <a *ngIf="loggedIn" (click)="logout()">Ausloggen</a>
    </nav>

    <main>
        <h2>Blogposts</h2>
        <ul>
            <a *ngFor="let blogpost of blogposts" routerLink="/blogpost/view/{{blogpost.id}}">
                {{blogpost.sections![0].title}}
            </a>
        </ul>
    </main>

    <aside>
        <a *ngIf="loggedIn" routerLink="/blogpost/create">Neuer Blogpost</a>
        <!-- <a routerLink="/blogpost/create">TEST CREATE</a> -->
</aside>
</div>