nav, aside {
    width: 170px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main {
    width: calc(100% - 300px);
    background-color: #efefef;
    min-height: calc(85vh);
    height: 100%;
}

h2 {
    margin-block: 0;
    margin: auto;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul a {
    text-align: center;
    font-weight: normal;
    font-size: 1em;
}