<div class="flex-container-horizontal">
    <nav>
        <a (click)="slowNavigate('/register')">Registrieren</a>
        <a *ngIf="!loggedIn" (click)="slowNavigate('/login')">Einloggen</a>
        <a *ngIf="loggedIn" (click)="logout()">Ausloggen</a>
    </nav>

    <main>
        <h2>Blogposts</h2>
        <ul>
            <a *ngFor="let blogpost of blogposts" (click)="slowNavigate('/blogpost/view/' + blogpost.id)">
                {{blogpost.sections![0].title}}
            </a>
        </ul>
    </main>

    <aside>
        <a *ngIf="loggedIn" (click)="slowNavigate('/blogpost/create')">Neuer Blogpost</a>
</aside>
</div>