<div class="flex-container-horizontal">
    <nav>
        <a routerLink="/register">Registrieren</a>
        <a *ngIf="!loggedIn" routerLink="/login">Einloggen</a>
        <a *ngIf="loggedIn" (click)="logout()">Ausloggen</a>
    </nav>

    <main>
        <h2>Blogposts</h2>
        <ul>
            <a>Die Ringe des Saturns</a>
            <a>Warum die astronomische Einheit?</a>
            <a>Geschichte des Spaceshuttles</a>
        </ul>
    </main>

    <aside>
        <a *ngIf="loggedIn" routerLink="/placeholder">Neuer Blogpost</a>
        <a routerLink="/blogpost/create">TEST CREATE</a>
</aside>
</div>