#card-container {
    position: relative;
    top: 0px;
    left: 0px;
    align-items: center;
    width: 450px;
    height: 300px;
    justify-content: space-between;
    box-shadow: 2px 2px 8px var(--primary-half-transparent);
    border-radius: 20px;
    cursor: pointer;
}

#card-container * {
    background-color: transparent;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: all 0.4s;
}

#overlay:hover {
    background-color: var(--primary-shade-overlay);
}

img {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    border-radius: 20px;
}

h3 {
    position: absolute;
    bottom: 3em;
    left: 1em;
    margin-bottom: 1em;
    width: calc(100% - 2em);
    margin-block: 0;
    background-color: transparent;
    text-shadow: -1px 0 #0F0F28, 0 1px #0F0F28, 1px 0 #0F0F28, 0 -1px #0F0F28;
}

#category-container {
    position: absolute;
    bottom: 1em;
    left: 1em;
    align-items: center;
}

span {
    background-color: var(--primary-shade-2) !important;
    width: 0.5em;
    height: 1.5em;
    margin-right: 0.4em;
}

p {
    margin: 0;
    text-shadow: -1px 0 #0F0F28, 0 1px #0F0F28, 1px 0 #0F0F28, 0 -1px #0F0F28;
}

