<div id="view-container" *ngIf="blogpost">
    <div id="edit-button-container" class="flex-container-horizontal">
        <button class="button-primary" *ngIf="belongsToUser" (click)="onEditClicked()">Blogpost Bearbeiten</button>
    </div>

    <h3 id="header-0">{{blogpost.sections![0].title}}</h3>
    <img [src]="imagePath" alt="{{imagePath}}" style="float: left;">

    <section *ngFor="let section of blogpost!.sections; let i = index">
        <h3 *ngIf="i != 0">{{section.title}}</h3>
        <p>{{section.content}}</p>
    </section>
</div>