#main-container {
    width: calc(100% - 2em);
    margin: 1em;
}

#category-and-submit-container {
    width: 100%;
    justify-content: space-between;
}

#category-and-submit-container label {
    font-size: 1.2em;
    font-weight: bold;
}

#category-and-submit-container select {
    border-radius: 12px;
    font-size: 1.2em;
    padding: 0.1em;
    border: 2px solid var(--primary-shade-2);
    background-color: var(--secondary-shade-4);
    color: var(--primary-tint-3);
}

.section-container {
    width: calc(100%);
    margin: 0.5em 0;
}

.section-container input {
    width: calc(100% - 0.7em);
    font-size: 1.4em;
    padding: 0.2em;
    border: 4px solid var(--primary-shade-3);
    border-radius: 12px;
    color: var(--primary-shade-4);
    background-color: var(--primary-tint-4);
    margin-bottom: 0.5em;
}

.section-container textarea {
    width: 100%;
    font-size: 1.2em;
    padding: 0.2em;
    border: 4px solid var(--primary-shade-3);
    border-radius: 12px;
    color: var(--primary-shade-4);
    background-color: var(--secondary);
    text-align: justify;
}

.section-container input::placeholder,
.section-container textarea::placeholder {
    text-align: center;
    color: var(--primary-tint-3);
    line-height: calc(13em);
}

#all-sections-container {
    width: 100%;
}

#plus-minus-button-container {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#image-and-textarea-container {
    width: 100%;
}

#image-container {
    min-width: 500px;
    min-height: 350px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    margin-right: 1em;
    background-color: var(--secondary-shade-4);
    justify-content: center;
    align-items: center;
}

#image-container p {
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-tint-4);
    text-align: center;
}

#choose-image-input {
    border: none;
    background-color: transparent;
    width: fit-content;
    color: var(--secondary-shade-3);
    margin-left: 5em;
}

#choose-image-input::file-selector-button {
    font-size: 0.9em;
    height: fit-content;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: var(--primary-tint-4);
}

#choose-image-input::file-selector-button:hover {
    color: var(--secondary);
    border: 2px solid var(--primary-shade-2);
    background-color: var(--primary-shade-2);
}

img {
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

/* #image-container {
    min-width: 300px;
    margin: 1em;
}

#text-container {
    width: 100%;
    max-width: calc(100% - 4em - 300px);
    padding: 1em;
    padding-top: 0;
}

#text-container input {
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
}

textarea {
    min-width: 100%;
    padding: 3px;
    margin-top: 0.5em;
    font-size: 1.1em;
}

.section-container {
    margin-top: 1em;
}

.input-0 {
    font-size: 2em !important;
}

.submit-button {
    padding: 0.5em 1.2em;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

select {
    font-size: 1.1em;
    padding: 0.1em;
}

input::placeholder, textarea::placeholder {
    font-size: 90%;
    font-weight: normal;
    color: #ddd;
    text-align: center;
}

textarea::placeholder {
    font-size: 150%;
}

#category-and-submit-container {
    justify-content: space-between;
}

#choose-image-label {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em !important;
    text-align: center;
}

#choose-image-input {
    font-size: 1em;
}

#choose-image-input::file-selector-button {

}
 */
