<div class="flex-container-horizontal">
    <div id="text-container">
        <div class="section-container">
            <input type="text"><br>
            <span class="multiline-input" contenteditable>asdsadsad</span>
        </div>
        <div class="section-container">
            <input type="text"><br>
            <span class="multiline-input" contenteditable>asdsadsad</span>
        </div>
    </div>
    
    <div id="image-container">
        <input *ngIf="showUpload" type="file" (change)="onFileSelected($event)">
        <img *ngIf="!showUpload" [src]="imagePath" alt="{{imagePath}}" width="300" height="300">
    </div>
</div>

