<header>
  <nav class="flex-container-horizontal" id="meta-navigation">
    <h1 class="clickable" routerLink="/home">SpaceWise</h1>
    <app-search-bar></app-search-bar>
    <a class="clickable" *ngIf="!loggedIn" routerLink="/register">Registrieren</a>
    <a class="clickable" *ngIf="!loggedIn" routerLink="/login">Einloggen</a>
    <a class="clickable" *ngIf="loggedIn" (click)="logout()">Ausloggen</a>
    <a class="clickable" *ngIf="loggedIn" routerLink="/blogpost/list/myPosts">Meine Posts</a>
    <a class="clickable" *ngIf="loggedIn" routerLink="/blogpost/create">Neuer Post</a>
    <div *ngIf="loginService.currentUser" class="flex-container-horizontal" id="name-container">
      <span class="material-icons">account_circle</span>
      <span id="user-name">{{loginService.currentUser.username}}</span>
    </div>
  </nav>

  <nav class="flex-container-horizontal" id="main-navigation">
    <a class="clickable" routerLink="/blogpost/list/allPosts">Alle Posts</a>
    <a class="clickable" routerLink="/blogpost/list/celestialBodies">Himmelskörper</a>
    <a class="clickable" routerLink="/blogpost/list/physics">Physik</a>
    <a class="clickable" routerLink="/blogpost/list/technology">Technik</a>
    <a class="clickable" routerLink="/blogpost/list/other">Anderes</a>
  </nav>
</header>

<router-outlet></router-outlet>

<div id="flyout" class="flex-container-horizontal" [ngClass]="flyoutIsOpen ? 'is-open' : ''">
  <div (click)="toggleFlyout()" id="chevron-container" class="flex-container-vertical">
    <i id="flyout-chevron" class="material-icons">{{flyoutIsOpen ? "chevron_right" : "chevron_left"}}</i>
  </div>

  <div class="flex-container-vertical">
    <h2>Notizen</h2>
    <textarea #notesBox (input)="triggerNotesInput(notesBox.value)"></textarea>
  </div>
</div>