header {
    background-color: #000;
    margin-bottom: 0.5em;
}

header * {
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    margin-block: 0;
    margin: auto;
    text-align: center;
    cursor: default;
}