<div id="card-grid">
    <div class="grid-card-container" *ngFor="let blogpost of blogposts">
        <app-blogpost-card *ngIf="blogpost" [blogpost]="blogpost" routerLink="/blogpost/view/{{blogpost.id}}"></app-blogpost-card>
    </div>
</div>

<div id="search-tips">
    <h3>Hier einige Tipps:</h3>
    <p>
        <i class="material-icons">info</i>
        Die Suche durchkämmt die Blogposts nach Treffern im Titel, in den Teilüberschriften und im Fließtext.
    </p>

    <p>
        <i class="material-icons">info</i>
        Suchbegriffe müssen nicht komplett ausgeschrieben werden und können klein oder groß geschrieben sein.
    </p>

    <p>
        <i class="material-icons">info</i>
        Mehrere Suchbegriffe sollten durch Leerzeichen getrennt werden.
    </p>

    <p>
        <i class="material-icons">info</i>
        Bspw. findet die Sucheingabe "voya jup" alle Ergebnisse, in denen die Rede von den Voyagersonden oder dem Jupiter ist.
    </p>
</div>