h2 {
    text-align: center;
}

.flex-container-vertical {
    align-items: center;
    gap: 1em;
}

.article {
    text-align: center;
    font-size: 1.1em;
    line-height: 2;
    color: var(--primary-shade-light);
    text-decoration: underline;
    cursor: pointer;
    width: 50%;

    transition: all 0.2s;;
}

.article:hover {
    background-color: var(--primary-tint);
    color: var(--primary-shade)
}

p {
    text-align: center;
    font-size: 1.1em;

    display: flex;
    align-items: flex-start;
}

i.material-icons {
    padding-right: 1em;
    color: var(--primary);
}

#search-tips {
    width: calc(100% - 40vw);
    margin-left: 20vw;
    margin-right: 20vw;

    display: none;
}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2em 10%;
    gap: 2em;
}