html, body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --primary: #8F43EE;
    --primary-tint-1: #A569F1;
    --primary-tint-2: #BB8FF4;
    --primary-tint-3: #D1B5F7;
    --primary-tint-4: #E7DBFA;
    --primary-shade-1: #763BC5;
    --primary-shade-2: #5D339C;
    --primary-shade-3: #442B73;
    --primary-shade-4: #2B234A;

    --secondary: #F1F1FF;
    --secondary-shade-1: #C4C4D4;
    --secondary-shade-2: #9797A9;
    --secondary-shade-3: #6A6A7E;
    --secondary-shade-4: #3D3D53;
    --light: var(--secondary);

    --neutral: #0F0F28;
    --dark: var(--neutral);
}

* {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--secondary);
    background-color: var(--neutral);
}

button {
    font-size: 1em;
    height: fit-content;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 12px;
    cursor: pointer;

    transition: all 0.3s;
}

.button-primary {
    border: 2px solid var(--primary);
    color: var(--secondary);
    background-color: var(--primary);
}

.button-primary:hover {
    color: var(--primary-tint-3);
    border: 2px solid var(--primary-shade-3);
    background-color: var(--primary-shade-3);
}

.button-primary-light {
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: var(--secondary);
}

.button-primary-light:hover {
    color: var(--secondary);
    border: 2px solid var(--primary-shade-2);
    background-color: var(--primary-shade-2);
}

button:disabled, button:disabled:hover {
    cursor: default;
    background-color: var(--secondary-shade-3);
    border-color: var(--secondary-shade-3);
    color: var(--secondary-shade-2);
}

body {
    margin: 0;
    margin-right: 32px;
    transition: margin 0.3s ease-in-out;
    background-color: var(--secondary);
}

.squished-body {
    margin-right: calc(36px + 30vw);
}

.flex-container-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}